<div class="combined-line-container">
  <div class="combined-line-old-content {{ old.contentClass }} {{ old.type }}">{{{ old.content }}}</div>
  <div class="combined-line-new-content {{ new.contentClass }} {{ new.type }}">{{{ new.content }}}</div>
</div>
